/* Reset default styles */
#root {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #f3f4f6; */
  min-width: 320px;
  min-height: 100vh;
}